# Python 변수 규칙

### 문자, 숫자, 밑줄 등을 포함 할 수 있다. 
### 숫자는 제일 처음에 나올 수 없다. 

사용가능한 이름: 	a, b, friends, grunt, var3, _str
사용 불가한 이름:	2a, 2_str, hello~, hi!

In [1]:
a = 1

In [2]:
b = 2

In [3]:
2a = 1

SyntaxError: invalid syntax (<ipython-input-3-91ca527aa26e>, line 1)

### 대소문자를 구별한다.

In [4]:
friend = 1

In [5]:
Friend = 10

In [7]:
friend

1

In [8]:
Friend

10

### 예약어는 사용할 수 없다. 

and, as, assert, break, class, continue, def, del, elif, else, except
 is, finally, for ……

In [9]:
for = 1

SyntaxError: invalid syntax (<ipython-input-9-b26be1b49601>, line 1)

### 숫자형

#### 정수형은 int 형이다.

In [11]:
year = 2000

In [12]:
month = 12

In [13]:
print(year, month)

2000 12

##### 정수 앞에 0o를 붙이면 8진수 0b를 붙이면 2지수로 그리고 0x를 붙이면 16진수로 인식된다.

In [15]:
0o10

8

In [16]:
0b10

2

In [17]:
0x10

16

##### 다음은 10진수를 받아서 각 진수로 변환하는 방법입니다. 단 결과는 문자형입니다.

In [19]:
oct(38)

'0o46'

In [20]:
hex(38)

'0x26'

In [21]:
bin(38)

'0b100110'

##### 파이썬 2.x에서는 큰 정수를 담기 위해서 별도로 long형이 있었지만 3.x에서는 다 int형으로 통합 되었습니다.

In [23]:
type(1)

int

In [24]:
type(2**31)

int

#### 실수형은 float로 표현됩니다. 
3.14 또는 314e-2와 같은 형태로 표현 가능합니다.

In [26]:
type(3.14)

float

In [27]:
type(314e-2)

float

#### 실수 보다 조금 더 큰 복소수는 다음과 같이 표현됩니다.

In [29]:
x = 3 - 4j

In [30]:
type(x)

complex

#### 복소수에서 real()은 실수부를 imag()는 허수부를 conjugate()는 켤레복소수를 나타냅니다.

In [32]:
x.imag

-4.0

In [33]:
x.real

3.0

In [34]:
x.conjugate()

(3+4j)

##### 원의 넓이와 삼각형 넓이 구하기

In [36]:
r = 2

In [37]:
circle_area = 3.14 * (r ** 2)

In [38]:
x = 3

In [41]:
y = 4

In [42]:
triangle_area = x * y  / 2

In [43]:
print(circle_area, triangle_area)

12.56 6.0

#### 위의 수식에서 3.14 * r ** 2를 해도 결과는 같습니다. 거듭제곱이 그냥 곱셈보다 우선 순위가 높습니다.

In [45]:
result = 3.14 * r ** 2

In [46]:
print(result)

12.56

### 문자형 실습

In [48]:
'Hello Python'

'Hello Python'

In [49]:
"Hello Python"

'Hello Python'

In [50]:
"Welcome to 'Python World'"

"Welcome to 'Python World'"

In [52]:
print("""
항상 태양을 바라보아라 
그리하면 너는 그림자를 볼 수 없을 것이다. 

- 헬렌켈러 
""")

항상 태양을 바라보아라
그리하면 너는 그림자를 볼 수 없을 것이다.

- 헬렌켈러

In [53]:
print("\t탭\n다음줄")

	탭
다음줄

In [54]:
print(r"\t탭\n다음줄")

\t탭\n다음줄

In [56]:
'py''thon'

'python'

In [57]:
'py' + 'thon'

'python'

In [58]:
'py' * 3

'pypypy'

#### 파이썬에서 문자열은 자동으로 인덱싱(indexing)이 됩니다.

In [60]:
a = 'python'

In [61]:
a

'python'

In [62]:
a[0]

'p'

In [63]:
a[0] = 'a'

TypeError: 'str' object does not support item assignment

#### 문자열 인덱싱은 Read only 입니다. 
#### 범위를 설정할 수도 있습니다. [시작위치:끝위치]

In [67]:
a[0:1]

'p'

In [68]:
a[1:4]

'yth'

In [69]:
a[:2]

'py'

In [71]:
a[-2:]

'on'

In [72]:
a[:]

'python'

In [73]:
a[::2]

'pto'

#### 데이터 타입의 변환

In [75]:
str(3.14)

'3.14'

In [76]:
int('49')

49

In [77]:
float(23)

23.0

In [78]:
## 유니코드

In [79]:
type('가')

str

In [80]:
'가'.encode('utf-8')

b'\xea\xb0\x80'

#### 어떤 문자의 유니코드 값을 알고 싶거나 혹은 반대의 작업을 할 경우에는 chr() ord()를 사용하면 된다.

In [82]:
ord('s')

115

In [83]:
chr(115)

's'